/* common css start  */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.container{
    
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
/* common css end  */
/* header part start */
#headerpart{
  padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menuBar nav{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menuBar .logo{
    width: 65%;

}
.menuBar .menu{
    width: 17.5%;
}
.menuBar .btn{
    width: 17.5%;
}
.menuBar .menu ul li a{
    padding: 0 30px;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
    transition: .4s;
}
.menuBar .btn a{
    padding: 17px 34px;
    background-color:#FD6E0A ;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 55px;
    border-radius: 5px;
    border: 2px solid #FD6E0A ;
    transition: .4s;
}
.menuBar .btn a:hover{
    background: transparent;
    color: #fd6e0a;
}
.menuBar .menu ul li a:hover{
    color: #FD6E0A;
}
/* header part end */
/* banner part start */
#bannerPart{
    padding-top: 295px;
    padding-bottom: 185px;
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerContent .firstText{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.bannerContent h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
   padding: 35px 0;
}
.bannerContent .secondText{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    width: 561px;
}
.button{
    padding-top: 30px;
}
 .button a{
    padding: 16px 17px;
    background: #FD6E0A; 
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid #FD6E0A;
    transition: .4s;
   

}
.bannerContent .button a:hover{
    background: transparent;
    color: #fd6e0a;

}
.button a i{
    padding:0 10px;

}

/* banner part end */

 /* about part start */
#aboutPart{
    margin-top: 130px;
   
}
.aboutContent{
    padding-top: 130px;
    padding-bottom: 157px;
    background: #FFF8F3;
    text-align: center;
    
}
.aboutContent h2{
    font-weight: 700;
    font-size: 35px;
    color:#181818
}
.aboutContent .thirdText{
    font-weight: 400;
    font-size: 18px;
    color:#757575;
    width: 762px;
    margin: 0 auto;
    line-height: 30px;
    padding: 25px 0;
}
.infoPart{
    display: flex;
   
}
.infoPart .info{
    margin: 0 auto;
}
.infoPart .info h4{
    font-weight: 400;
    
    color: #757575;
}
.infoPart .info p{
    font-weight: 700;
    font-size: 17px;
    color: #474747;
}

 /* about part end */
 #paragraphPart{
    margin-top: 96px;
 }
 .prghContent{
    text-align: center;

 }
 .prghContent h2{
     font-weight: 700;
    font-size: 35px;
    color: #181818;
    padding: 40px 0;
 }
 .prghContent p{
     font-weight: 400;
    font-size: 17px;
    color: #757575;
    line-height: 30px;
    width: 831px;
    margin: 0 auto;
 }
 #cardPart{
    margin-top: 54px;
  
 }
 .cardContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
 }
 .cardOne{
   padding: 30px;
  background: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }
 .cardOne h3{
  padding-top: 30px;
  padding-bottom: 20px;

}
.cardOne p{
  width: 188px;
  line-height: 28px;
}
.cardTwo{
   padding: 30px;
  background: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }
 .cardTwo h3{
  padding-top: 30px;
  padding-bottom: 20px;

}
.cardTwo p{
  width: 188px;
  line-height: 28px;
}
.cardThree{
   padding: 30px;
  background: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }
 .cardThree h3{
  padding-top: 30px;
  padding-bottom: 20px;

}
.cardThree p{
  width: 188px;
  line-height: 28px;
}
.cardFour{
   padding: 30px;
  background: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }
 .cardFour h3{
  padding-top: 30px;
  padding-bottom: 20px;

}
.cardFour p{
  width: 188px;
  line-height: 28px;
}
 

 .boxContent .box img,h3,p{
    padding: 10px;
 }

 
#resumeHeader{
    margin-top: 140px;
}
.resumeContent{
    text-align: center;
}
.resumeContent h2{
     font-weight: 700;
    font-size: 35px;
    color: #181818;
 }
 #resumeSummary{
    margin-top: 135px;
 }


.boxOne{
    border-bottom: 1px solid #757575;
   
}
.boxTwo{
    border-bottom: 1px solid #757575;
     
}
.boxFour{
    border-bottom: 1px solid #757575;
    
}.boxFive{
    border-bottom: 1px solid #757575;
   
}

.summaryContent{
    display: flex;
    gap: 20px;
    padding: 5px;
}
.summaryContent h2{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
   
}
.summaryContent .txt{
    font-weight: 600;
    font-size: 16px;
    color: #757575;
 
}
.summaryContent p{
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    line-height: 28px;
}
.summaryContent h3{
    font-weight: 700;
    font-size: 19px;
    color: #474747;
}
.btnContent .btn a{
    padding: 20px;
  background: #FD6E0A;
  width: 158px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border: 2px solid #FD6E0A;
  transition: .4s;

}
.btnContent .btn a:hover{
    background: transparent;
    color: #FD6E0A;
}
.btnContent{
    display: flex;
    
}
.btnContent .btn{
    margin: 0 auto;
}
.btnContent .btn a i{
    margin-right: 2px;
}
footer{
  padding: 130px;
  background: #FFF8F3;
}
.footerPart{
  display: flex;
  justify-content: space-between;
}
/* .footerLeft{
  width: 50%;
} */
.footerLeft p{
  width: 542px;
  font-weight: 400;
  font-size: 16px;
  color: #474747;
  line-height: 28px;
}
.footerLeft h3{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}
.socialIcon i{
color: #fd6e0a;
font-size: 24px;
}
.footerRight .common{
  width: 461px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  color:red;
  font-weight: 400;
font-size: 16px;
color: #757575;  
}
.footerRight ::placeholder{
  color: #080808;
}
.sbmtbtn{
background: #FD6E0A;
padding: 20px 40px;
color: white;
font-size: 20px;
 font-weight: 700;
 border-radius: 5px;
border: 2px solid #FD6E0A;
transition: .4s;
}

.sbmtbtn:hover{
    background: transparent;
    color: #fd6e0a;
}