/* common css start  */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.container{
    
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
/* common css end  */
/* header part start */
#headerpart{
  padding: 20px 0;
    position: fixed;
    top: 0;
    
    width: 100%;
}

.menuBar nav{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menuBar .logo{
    width: 65%;

}
.menuBar .menu{
    width: 17.5%;
}
.menuBar .btn{
    width: 17.5%;
}
.menuBar .menu ul li a{
    padding: 0 30px;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
    transition: .4s;
}
.menuBar .btn a{
    padding: 17px 34px;
    background-color:#FD6E0A ;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 55px;
    border-radius: 5px;
    border: 2px solid #FD6E0A ;
    transition: .4s;
}
.menuBar .btn a:hover{
    background: transparent;
    color: #fd6e0a;
}
.menuBar .menu ul li a:hover{
    color: #FD6E0A;
}
/* header part end */
/* banner part start */
#bannerPart{
    padding-top: 295px;
    padding-bottom: 185px;
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerContent .firstText{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.bannerContent h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
   padding: 35px 0;
}
.bannerContent .secondText{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    width: 561px;
}
.button{
    padding-top: 30px;
}
 .button a{
    padding: 16px 17px;
    background: #FD6E0A; 
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid #FD6E0A;
    transition: .4s;
   

}
.bannerContent .button a:hover{
    background: transparent;
    color: #fd6e0a;

}
.button a i{
    padding:0 10px;

}

/* banner part end */
